[submodule "corrade"]
	path = corrade
	url = https://github.com/pthom/corrade.git
[submodule "magnum"]
	path = magnum
	url = https://github.com/pthom/magnum.git
[submodule "hunter"]
	path = hunter
	url = https://github.com/pthom/hunter
[submodule "polly"]
	path = polly
	url = https://github.com/ruslo/polly.git
